body {
  color: #333;
  background: #f4f5f6;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-content {
  background: #f72210;
}

.logo {
  height: 102px;
}

.header-txt {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}

.subscribe {
  color: #f72210;
}

.nav-links-li a {
  color: #000;
  font-size: 1.2rem;
}

.footer-icons a {
  font-size: 1.5rem;
}

.grid-content-h3 a,
.prof-txt p a {
  color: #000;
}

.row1-content h3 a,
.row1-content-article p a {
  font-size: 1.5rem;
}

.articles-txt p a,
.byline p a {
  color: #000;
}

.box1 p a {
  color: #f72210;
}

.nav-links-li a:hover,
.articles-txt-pt a:hover {
  color: red;
}

.grid-content-h3 a:hover,
.articles-txt p a:hover,
.row1-content div h3 a:hover {
  text-decoration-color: red;
}

.nav-links-inpt input {
  width: 60px;
}

.fa-search,
.card-baner-header h2,
.card-baner-btn,
.magazine h2,
.grid-content-h3 {
  font-size: 1.2rem;
}

.row1-content p {
  color: #333;
}

.row1-content-article p {
  color: rgba(39, 39, 39, 0.5);
}

.prof-txt p:last-child {
  font-size: 0.7rem;
}

.prof-img {
  height: 70px;
}

.articles {
  border-top: 1px solid #d9d9d9;
}

.articles2 {
  border-top: 5px solid rgb(223, 72, 94);
}

.articles2 img {
  width: 95px;
  height: 95px;
}

.articles2-spcl {
  border-top: 5px solid rgb(35, 35, 161);
}

.byline {
  border-top: double #d9d9d9;
}

.byline img {
  width: 63px;
  height: 63px;
}

.byline-img1 {
  position: absolute;
  right: 6%;
  top: 575px;
  
}

.byline-img2 {
  position: absolute;
  right: 6%;
  top: 850px;
  
}

.card-baner-header img {
  width: 35px;
  height: 35px;
}

.magazine {
  margin: auto;
  width: 20%;
}

.featured-magazine {
  width: 40%;
}

.box1-txt {
  color: white;
  background: #f72210;
}

.box1-txt-spcl {
  position: absolute;
  top: 216px;
}

.box1-txt-spcl2 {
  position: absolute;
  top: 168px;
}

.top-story-tag {
  top: 191px;
}

.grid-three-h2 {
  color: #f72210;
  font-size: 1.2rem;
}

.h2-text {
  color: #f72210;
  font-size: 1rem;
}

.text h2 {
  font-size: 1.4rem;
  color: #000;
}

.text-btn {
  background: #f72210;
}

.nesletter img {
  width: 850px;
  height: 263px;
}

.nesletter-h2 {
  font-size: 1.3rem;
  color: #000;
}

@media (min-width: 576px) {
  nav::before {
    display: none;
  }

  .header-txt {
    font-size: 1.5rem;
  }

  .header-txt-p {
    font-size: 1.2rem;
  }

  .row1-content h3 a,
  .row1-content-article p a,
  .text h2,
  .nesletter-h2 {
    font-size: 1rem;
  }

  .fa-search,
  .card-baner-header h2,
  .card-baner-btn,
  .magazine h2,
  .grid-content-h3,
  .h2-text {
    font-size: 0.8rem;
  }

  .card1 {
    width: 50%;
    margin: auto;
  }

  .versus {
    width: 4.1%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  nav::before {
    display: none;
  }

  .header-txt {
    font-size: 1.5rem;
  }

  .header-txt-p {
    font-size: 1.2rem;
  }

  .row1-content h3 a,
  .row1-content-article p a,
  .text h2,
  .nesletter-h2 {
    font-size: 1rem;
  }

  .fa-search,
  .card-baner-header h2,
  .card-baner-btn,
  .magazine h2,
  .grid-content-h3,
  .h2-text {
    font-size: 0.8rem;
  }

  .card1 {
    width: 50%;
    margin: auto;
  }

  .versus {
    width: 4.1%;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  nav::before {
    width: 70px;
    background: #f72210;
    position: absolute;
    top: 105px;
    right: 16px;
    content: "";
    display: block;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }

  .card1 {
    width: 100%;
    margin: auto;
  }

  .versus {
    margin: auto;
    width: 11%;
    height: 37px;
    border-radius: 50%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  nav::before {
    width: 70px;
    background: #f72210;
    position: absolute;
    top: 105px;
    right: 16px;
    content: "";
    display: block;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }

  .card1 {
    width: 100%;
    margin: auto;
  }

  .versus {
    margin: auto;
    width: 11%;
    height: 37px;
    border-radius: 50%;
  }
}
